<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>商品一覧</title>
</head>

<body>
    <header>
        <h1>amazoon</h1>
    </header>
    <div id="wrapper">
        <main>
            <!-- mapで回す -->
            <ul>
                <li>
                    <div class="item">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/41u+1O8fcrL._AA210_.jpg" alt="">
                        <h2>ワイヤレスマウス</h2>
                    </div>
                </li>
                <li>
                    <div class="item">a</div>
                </li>
                <li>
                    <div class="item">a</div>
                </li>
                <li>
                    <div class="item">a</div>
                </li>
                <li>
                    <div class="item">a</div>
                </li>
                <li>
                    <div class="item">a</div>
                </li>
            </ul>
        </main>
</body>
</div>

</html>