<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>商品一覧</title>
</head>

<body>
    <header>
        <h1>amazoon</h1>
        <h2><a href="cart/index">カートを見る</a></h2>
        <a href="login">ログイン画面へ</a>
    </header>
    <div class="wrapper">
        <main>
            <ul>
                <% products.map((product) => { %>
                <li>
                    <img src="<%= product.image %>" alt="">
                    <p><a href="products/<%= product.id %>"><%= product.name %></a></p>
                    <p><%= product.price %>円</p>
                </li>
                <% }) %>
            </ul>
            
            
        </main>
</body>
</div>

</html>