body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*　共通 */
header{
  height: 50px;
  width: 100%;
  max-width: 100%;
  background-color: skyblue;
}
header h1{
  text-align: center;
}

div#wrapper{
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
main{
  min-height: 500px;
  margin: 0 auto;
  border: 1px solid black;
  height: auto;
}
/* products.ejs */
ul{
  display: flex;
  flex-wrap: wrap;  
  height: auto;
}
li{
  height: 300px;
  width: 33%;
  border: black;
  border: 1px solid black;
  list-style:none;
}
div.item{
  height: 300px;
  width: 33%;
  border: black;
}