<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Thank you</title>
</head>

<body>
    <header>
        <h1>amazoon</h1>
        <h2><a href="/cart/index">カートを見る</a></h2>
    </header>
    <main>
        <p>ご購入あざした！！！！！</p>
        <p>気を長くして待っといてやー</p>
    </main>
</body>

</html>